

<label>
    <input type="checkbox" @bind="@displayEmail" />
    Display Email
</label>

@if(Contacts is null)
{
    @NullContacts
}
else if (Contacts.Count == 0)
{
    @EmptyContacts
}
else
{
@foreach (var contact in Contacts)
{
    <BasicContact Contact="@contact" DisplayEmail="@displayEmail" DeleteCallBack="DeleteContact" />
}
}



@code {
    [Parameter]
    public List<Contact> Contacts { get; set; }

    [Parameter]
    public RenderFragment NullContacts{ get; set; }

    [Parameter]
    public RenderFragment EmptyContacts{ get; set; }

    private bool displayEmail = true;

    private void DeleteContact(Contact contact)
    {
        Contacts.Remove(contact);
    }

}
